
caption{
	caption-side:bottom;
}

table{
	 border-collapse: collapse;
	  border: 2px solid rgb(150%, 300%);
	}

th{
    border: 2px solid rgb(200, 200, 200);
    padding: 10px 10px 10px;
    background-color:lightgray;
}

td{
	 border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
     padding: 10px 50px 20px;
}

a{
    color:black;
    text-decoration: none;
}

p{
    color:green;
}
.orange{
    color:green;
    background:coral;
}
.lilac{
    background:#c8a2c8;
}
.blue{
    background:#89cff0;
}
.yellow{
    background:#FFD500;
}

td:hover{
    background-color:gray;
    cursor:not-allowed;
}

